<h1>Lesson Saved</h1>

<p>Congratulations, lesson <%= @lesson.name %> has been saved to the database</p>

<p><a href="/lessons/<%= @lesson.id %>">View new lesson <%= @lesson.name %></a></p>
<p><a href="/lessons">Return to Table of Contents</a></p>
